#Broad targeting here
public net.minecraft.client.Minecraft *
public net.minecraft.client.Minecraft *()
public net.minecraft.entity.Entity * # All fields
public net.minecraft.client.gui.GuiChat *
public net.minecraft.world.chunk.storage.ExtendedBlockStorage * # All fields
public net.minecraft.world.chunk.Chunk * # All fields
public net.minecraft.client.renderer.RenderGlobal * # All fields
public net.minecraft.client.renderer.RenderGlobal *() # All methods
public net.minecraft.client.renderer.ViewFrustum *() # All fields
public net.minecraft.world.chunk.BlockStateContainer * # All fields
public net.minecraft.client.renderer.EntityRenderer * # All fields
public net.minecraft.client.renderer.EntityRenderer *() # All methods
public net.minecraft.server.management.PlayerList * # All fields
public net.minecraft.server.management.PlayerInteractionManager * # All fields
public net.minecraft.client.multiplayer.PlayerControllerMP * # All fields
public net.minecraft.client.multiplayer.PlayerControllerMP *() # All methods
public net.minecraft.network.NetHandlerPlayServer * # All fields
public net.minecraft.world.WorldServer * # All fields
public net.minecraft.server.management.PlayerChunkMap * # All fields
public net.minecraft.server.management.PlayerChunkMap *() # All methods
public-f net.minecraft.server.management.PlayerChunkMapEntry * # All fields
public net.minecraft.server.management.PlayerChunkMapEntry *() # All methods
public net.minecraft.network.play.client.CPacketChatMessage field_149440_a # message
public net.minecraft.network.play.server.SPacketEffect * # All fields
public net.minecraft.network.play.server.SPacketSoundEffect * # All fields
public net.minecraft.network.play.client.CPacketUpdateSign *
public net.minecraft.client.particle.Particle * # All fields
public net.minecraft.world.ChunkCache * # All fields
public net.minecraft.util.ObjectIntIdentityMap * # All fields
public net.minecraft.entity.player.EntityPlayerMP * # All fields
public net.minecraft.block.Block * # All fields
public net.minecraft.world.Explosion * # All fields
#public net.minecraft.client.renderer.VertexBuffer * # All fields
public net.minecraft.entity.player.InventoryPlayer * # All fields
public net.minecraft.entity.item.EntityFallingBlock * # All fields
public net.minecraft.world.Explosion * # All fields
public net.minecraft.item.ItemStack * # All fields
public net.minecraft.world.chunk.EmptyChunk *() # All methods
public net.minecraft.client.renderer.tileentity.TileEntityRendererDispatcher * # All fields
public net.minecraft.entity.player.EntityPlayer * # All fields
public net.minecraft.util.math.BlockPos * # All fields
public net.minecraft.world.border.WorldBorder * # All fields
public net.minecraft.world.border.WorldBorder *() # All methods
public-f net.minecraft.util.math.Vec3i * # All fields
public net.minecraft.client.gui.GuiTextField *
public net.minecraft.client.gui.FontRenderer *
public net.minecraft.client.gui.inventory.GuiEditSign * # All fields
public net.minecraft.client.gui.GuiDisconnected *
public net.minecraft.client.multiplayer.GuiConnecting *
public net.minecraft.network.NetworkManager *
public net.minecraft.network.play.server.SPacketEntityVelocity *
public net.minecraft.network.play.server.SPacketExplosion *
public net.minecraft.network.play.client.CPacketPlayer *
public net.minecraft.network.play.server.SPacketPlayerPosLook *
public net.minecraft.network.play.server.SPacketChat *
public net.minecraft.client.renderer.entity.RenderManager *
public net.minecraft.client.renderer.BufferBuilder *
public net.minecraft.client.renderer.BlockModelRenderer *
public net.minecraft.client.renderer.BlockModelRenderer *()
public net.minecraft.pathfinding.Path *
public net.minecraft.client.gui.GuiBossOverlay *
public net.minecraft.client.gui.GuiBossOverlay func_184052_a(IILnet/minecraft/world/BossInfo;)V
public net.minecraft.tileentity.TileEntity field_145854_h # blockType
public net.minecraft.item.ItemTool field_77865_bY # attackDamage
public net.minecraft.util.Timer * # All fields
public net.minecraft.client.shader.ShaderGroup field_148031_d # listShaders

#Specific targeting past here
#public net.minecraft.world.chunk.Chunk func_186034_a(Lnet/minecraft/world/chunk/IChunkGenerator;)V # Populate Chunk Method
#
#public net.minecraft.entity.Entity func_145775_I()V # Do Block Collisions Method

#public net.minecraft.entity.player.EntityPlayer.func_175139_a(Lnet/minecraft/util/EnumFacing;)V # EntityPlayer.setRenderOffsetForSleep()
